.fa-shopping-cart {
    position: relative;

    & span {
        position: absolute;
        top: -20px;
        left: 10px;
        color: green;
        background-color: white;
        width: 25px;
        height: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        font-size: 1rem;
    }
}